---
# NOTE there must be no spaces before the '-', so put the comma last.
# The check bugprone-unchecked-optional-access is also turned on.
# Note that it can cause clang-tidy to hang randomly. The tracking issue
# can be found at https://github.com/llvm/llvm-project/issues/69369.
# When that happens, we can disable it on the problematic code by NOLINT.
InheritParentConfig: true
Checks: '
bugprone-*,
clang-analyzer-core.*,
clang-analyzer-cplusplus.*,
clang-analyzer-deadcode.*,
clang-analyzer-nullability.*,
clang-diagnostic-missing-prototypes,
cppcoreguidelines-*,
hicpp-avoid-goto,
hicpp-exception-baseclass,
misc-*,
modernize-*,
performance-*,
readability-container-size-empty,
readability-delete-null-pointer,
readability-duplicate-include,
readability-misplaced-array-index,
readability-simplify-subscript-expr,
readability-static-definition-in-anonymous-namespace,
readability-string-compare,
'
HeaderFilterRegex: '^(src/).*$'
WarningsAsErrors: "*"
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove: true
  misc-header-include-cycle.IgnoredFilesList: 'library.h'
...
